{% extends 'admin_panel/admin_base.html' %}
{% block content %}

<h3 class="mb-4">Add Company</h3>

<form method="POST" class="card shadow p-4">
  {% csrf_token %}
  <div class="row">
    <div class="mb-3 col-md-6">
      <label for="name" class="form-label">Company Name</label>
      <input type="text" name="name" id="name" class="form-control" required>
    </div>
    <div class="mb-3 col-md-6">
      <label for="city" class="form-label">City</label>
      <input type="text" name="city" id="city" class="form-control">
    </div>
    <div class="mb-3 col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" id="email" class="form-control">
    </div>
    <div class="mb-3 col-md-6">
      <label for="contact_number" class="form-label">Phone</label>
      <input type="text" name="contact_number" id="contact_number" class="form-control">
    </div>
    <div class="mb-3 col-md-12">
      <label for="address" class="form-label">Address</label>
      <textarea name="address" id="address" rows="2" class="form-control"></textarea>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="is_approved" id="is_approved">
      <label for="is_approved" class="form-check-label">Approve Company</label>
    </div>
  </div>
  <button type="submit" class="btn btn-warning">Add Company</button>
</form>

{% endblock %}
